@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400&family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general css  */

.fb_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.fb_font {
  color: #222;
  font-family: DM Sans;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02563rem;
}

a {
  text-decoration: none;
}

.fb_container {
  max-width: 1650px;
  margin: 0 auto;
  border: 1px solid green;
  padding: 1rem 6.25rem;
}

ul {
  margin-bottom: 0;
}

/* general css ends  */

/* header css starts  */

/* search css  */

.fb_search_field {
  width: 46rem;
}

.fb_search_field .fb_custom_search {
  border-radius: 0.3125rem;
  font-size: 1rem;
  font-weight: 400;
}

.fb_custom_search:focus {
  box-shadow: none;
  border: 1px solid #dcdcdc;
}

.fb_search_field .fb_search_btn {
  border-radius: 0 5px 5px 0;
  background-color: #fe5c4d;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fb_search_btn img {
  width: 15px;
  height: auto;
}

.fb_search_field .fb_search_btn {
  border-radius: 0 5px 5px 0;
  padding: 10px 15px;
  background-color: #fe5c4d;
  border: none;
}

/* search css ends */

.fb_login_btn {
  border-radius: 0.3125rem;
  background: #fe5c4d;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;
  border: 1px solid transparent;
}

.fb_login_btn:hover {
  border: 1px solid #fe5c4d;
  color: #fe5c4d;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}

.fb_club_wrapper {
  position: relative;
}

.fb_club_div {
  background-color: #fff;
  border-radius: 5px;
  height: 180px;
  width: 200px;
  overflow: auto;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 100%;
  left: -106px;
  display: none;
  z-index: 1;
}

.fb_club_div ul {
  list-style: none;
  margin-left: -2rem;
}

.fb_club_div ul li {
  padding: 1rem;
  transition: all 0.5s ease-in-out;
}

.fb_club_div ul li:hover {
  background-color: #fe5c4d;
  color: #fff;
  cursor: pointer;
}

.fb_club:hover + .fb_club_wrapper .fb_club_div,
.fb_club_div:hover {
  display: block;
}

.fb_nav_menu ul {
  list-style: none;
  display: flex;
}

.fb_nav_menu ul li {
  margin-left: 1rem;
  cursor: pointer;
  font-size: 1.125rem;
}
.fb_header_2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fb_city {
  border: 1px solid transparent;
  margin-right: 1rem;
}

.fb_city span {
  width: 7rem;
}

.fb_login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fb_city_section {
  position: relative;
}

.city_div {
  display: none;
  position: absolute;
  top: 100%;
  right: 15%;
  z-index: 1;
  border-radius: 0.625rem;
  background: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
  padding: 1rem;
  width: 61rem;
}

/* city search css  */

.fb_city_search_container {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 0.5rem;
}

.fb_city_search_input {
  padding: 1rem;
  padding-left: 35px; /* Adjust as needed for icon */
  border: 1px solid #dcdcdc;
  border-radius: 0.3125rem;
  background-color: #fff;
  width: 100%;
  outline: none;
}

.fb_city_search_icon {
  position: absolute;
  top: 50%;
  left: 12px; /* Adjust as needed for icon position */
  transform: translateY(-50%);
}

.fb_detect {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #dcdcdc;
  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 1rem;
  cursor: pointer;
}

.fb_detect span {
  color: #fe5c4d;
  font-weight: 600;
  cursor: pointer;
}

.fb_popular {
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.fb_all_cities,
.fb_hide_cities {
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
  color: #fe5c4d;
  cursor: pointer;
  display: block;
}

.fb_hide_cities {
  display: none;
  margin-bottom: 1rem;
}

.city_list_div {
  display: none;
  margin-bottom: 2rem;
  display: none;
}

.city_list_div ul {
  z-index: 1;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  list-style: none;
  color: #aaa;
  font-family: DM Sans;
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
  height: 8rem;
  overflow-y: scroll;
  margin-top: 1rem;
}

.city_list_div ul li {
  margin-bottom: 1rem !important;
  text-transform: capitalize;
  cursor: pointer;
}

.fb_city_img img {
  cursor: pointer;
  margin-right: 0.5rem;
}

.fb_city_img {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

/* city search css ends */

/* header css ends */

/* header 2 css  */

.fb_header_blue {
  background: #17479e;
}

.fb_header_blue span {
  color: white;
}

.fb_nav_option ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fb_nav_option ul li {
  color: #fff;
  margin-left: 1rem;
  cursor: pointer;
}

.fb_nav_option {
  position: relative;
}
/* header 2 css ends */

/* header banner css  */

.fb_banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 2rem;
}

.fb_banner img {
  max-width: 1650px;
  flex-shrink: 0;
}

.fb_banner img {
  width: 100%;
}

.fb_banner_wrapper {
  position: relative;
}
.fb_banner_sport {
  position: absolute;
  top: 0;
  color: #fff;
  text-shadow: 0px 0px 5px #3d69ff;
  font-family: DM Sans;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.02563rem;
  text-transform: uppercase;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2rem;
}

/* header banner css ends */

/* sports div section css  */

.sports_div {
  position: absolute;
  top: 100%;
  left: 20%;
  z-index: 1;
  border-radius: 0.625rem;
  background: #fff;
  display: none;

  /* Card Shadow */
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
  padding: 1rem;
}

.fb_sports:hover + .sports_div,
.sports_div:hover {
  display: block;
}

.sports_div ul li {
  text-transform: capitalize;
  color: #222 !important;
  margin-left: -2rem;
  margin-bottom: 1rem;
  width: 8rem;

  font-family: DM Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  text-transform: capitalize;
}
.sports_div ul {
  display: flex;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 23rem;
  width: 23rem;
  overflow: auto;
  margin-bottom: -1rem;
}

/* sports div section css ends */

/* fb menu section starts  */

.fb_menu {
  border: 1px solid #dcdcdc;
  margin-left: 6.25rem;
  margin-right: 6.25rem;
  padding: 1rem;
  border-radius: 1rem;
}

.fb_red_arrow {
  background-color: #fe5c4d;
  border-radius: 50%;
  padding: 0.3rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fb_menu_card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fb_academy {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

/* fb menu section starts ends */

/* fb featured section  */

.fb_feature_wrapper {
  margin-left: 6.25rem;
  margin-right: 6.25rem;
}

.fb_feature_head {
  font-size: 1.75rem;
  font-weight: 700;
  margin-left: 6.25rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.fb_feature_card {
  width: min-content;
  height: auto;
  flex-shrink: 0;
  border-radius: 0.625rem 0.625rem 0rem 0rem;
  border: 1px solid #dcdcdc;
  background: #fff;
  margin-bottom: 2rem;
}

.fb_feature_card_2 {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.fb_img_secion {
  position: relative;
}

.fb_card_img {
  width: 22rem;
  height: 8.625rem;
  object-fit: cover;
  border-radius: 0.625rem 0.625rem 0rem 0rem;
}

.fb_pink_arrow {
  position: absolute;
  top: 10%;
}

.fb_pink_arrow p {
  color: #222;
  font-family: DM Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.02563rem;
  text-transform: uppercase;
  position: absolute;
  top: 58%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.fb_view_all {
  margin-right: 6.25rem;
  border-radius: 0.3125rem;
  border: 1px solid #dcdcdc;
  background: #fff;
  padding: 0.6rem 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fb_view_all img {
  margin-left: 0.3rem;
}

.fb_academy_name {
  font-size: 1.125rem;
  font-weight: 600;
}

.fb_card_content {
  padding: 0.5rem;
  padding-bottom: 0;
  justify-content: start;
}

.fb_green_img img {
  width: 1rem;
  height: 1rem;
  margin-left: 0.3rem;
}

.fb_address {
  color: #505050;
  font-size: 1rem;
  padding-left: 0.5rem;
}

.fb_img_count {
  background-color: rgba(0, 0, 0, 0.5);
  width: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  padding: 0.6rem 0.9rem;
}

.fb_line {
  padding-right: 1rem;
  border-right: 1px solid white;
}

.fb_line img {
  margin-left: 0.2rem;
}
.fb_line_2 img {
  margin-left: 0.2rem;
}

.fb_line_2 {
  padding-left: 1rem;
}

.fb_img_info {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* star css  */

.fb_stars {
  --mobile_academy_percent: calc(var(--star_rating) / 5 * 100%);
  display: inline-block;
  font-size: 25px;
  font-family: Times;
  line-height: 1;
  margin-left: 0.5rem;
  margin-right: 0.3rem;
}

.fb_stars::before {
  content: "★★★★★";
  letter-spacing: 3px;
  background: linear-gradient(
    90deg,
    #fc0 var(--mobile_academy_percent),
    #dcdcdc var(--mobile_academy_percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fb_star_section {
  justify-content: start;
  margin-left: 0.5rem;
}

.fb_star_section {
  padding-bottom: 1rem;
  border-bottom: 1px solid #dcdcdc;
  margin-left: 0rem;
  padding-left: 0.5rem;
}
/* star css ends */

.fb_graph img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
}

.fb_graph {
  justify-content: start;
}

.fb_card_bottom {
  padding: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.fb_bottom_btn {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  outline: none;
  border: 1px solid transparent;
  border-radius: 0.3125rem;
  width: 7.5rem;
}

.fb_msg {
  background-color: #fe5c4d;
  color: #fff;
}

.fb_call {
  border: 1px solid #dcdcdc;
}

.fb_bottom_btn img {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.3rem;
}

/* fb featured section ends */

/* fb register section  */

.fb_register_section {
  margin-left: 6.25rem;
  margin-right: 6.25rem;
  max-width: 1650px;
  border-radius: 0.625rem;
  border: 1px solid #dcdcdc;
  background: #fff;
  padding: 2.5rem 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
}

.fb_register {
  color: #222;
  font-family: DM Sans;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.02563rem;
}

.fb_register_div {
  margin-bottom: 1.25rem;
}

.fb_now {
  border-radius: 0.3125rem;
  background: #fe5c4d;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 0.9rem;
  outline: none;
  border: 1px solid transparent;
}
.fb_now:hover {
  border: 1px solid #fe5c4d;
  color: #fe5c4d;
  cursor: pointer;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}

.fb_blue_card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.625rem;
  background: #0a4dfa;
  width: 8.875rem;
  height: 7.625rem;
  color: #fff;
}

.fb_blue_flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fb_blue_card img {
  margin-bottom: 0.6rem;
}

.fb_view {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* fb register section ends */

/* fb about section  */

.fb_about_section {
  background: #edf6f7;
  padding: 2rem 6.25rem;
}

.fb_about_txt {
  text-align: center;
  margin-bottom: 2rem;
}

.fb_about {
  color: var(--Primary, #222);
  font-family: DM Sans;
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.02563rem;
  text-transform: uppercase;
}

.fb_red {
  color: #fe5c4d;
}

.fb_about_content {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  margin-bottom: 2rem;
}

.fb_about_content span:first-child,
.fb_tour {
  color: #222;
  font-family: DM Sans;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
  letter-spacing: -0.02563rem;
}
.fb_about_content span:last-child {
  color: #505050;
  font-family: DM Sans;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02563rem;
}

/* fb about section ends */

/* fb tour section  */

.fb_tour_section {
  padding-left: 6.25rem;
  padding-right: 6.25rem;
  padding-top: 2rem;
  background: #f9fdfd;
}

.fb_tour_list {
  margin-top: 0.5rem;
}

.fb_tour_list ul {
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  margin-left: -2.31rem;
}

.fb_tour_list ul li {
  padding-left: 0.31rem;
  padding-right: 0.31rem;
  border-right: 1px solid #aaa;
  color: #505050;
  font-family: DM Sans;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: -0.02563rem;
}

.fb_tour_list ul li:last-child {
  border-right: 1px solid transparent;
}

.fb_sport_section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  background: #f9fdfd;
}

/* fb tour section ends */

/* fb blog section  */

.fb_latest_blog {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fb_latest_blog span:first-child {
  font-size: 2rem;
  font-weight: 700;
}
.fb_latest_blog span:last-child {
  color: #505050;
  font-size: 1rem;
}

.mobile_home_blog_img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.mobile_home_blog_img img {
  width: 100%;
  height: auto;
  border-radius: 0.625rem;
}

.mobile_home_date p:first-child {
  text-align: start;
  color: #aaa;
  font-family: DM Sans;
  font-size: 0.8rem;
  font-weight: 600;
  margin-left: 1rem;
  margin-top: 0.2rem;
}

.mobile_home_date p:nth-child(2) {
  margin-left: 1rem;
  margin-right: 1rem;
  color: #222;
  font-family: DM Sans;
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
  margin-top: 0.2rem;
}

.mobile_home_read {
  margin-left: 1rem;
  margin-top: 1.25rem;
  color: #222;
  font-family: DM Sans;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
  padding-bottom: 0.06rem;
  border-bottom: 1px solid black;
  width: max-content;
  margin-bottom: 1.5rem;
}

.fb_blog_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 6.25rem;
  margin-right: 6.25rem;
  overflow: hidden;
}

.fb_blog_card {
  min-width: 21.375rem;
}

.fb_red_bg,
.fb_grey_bg {
  border-radius: 50%;
  padding: 0.5rem;
  background-color: #fe5c4d;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.fb_grey_bg {
  background-color: #f4f4f4;
  margin-right: 0.7rem;
}

.fb_arrow_click {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fb_related_tags {
  margin-left: 6.25rem;
  margin-right: 6.25rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

/* fb blog section ends */

/* fb tags section  */

.fb_tags_top {
  margin-left: 6.25rem;
  margin-right: 6.25rem;
  margin-top: 2rem;
}

.fb_tags_head {
  font-size: 1.25rem;
  font-weight: 600;
}

.fb_tags_card {
  border-radius: 1.875rem;
  border: 1px solid #dcdcdc;
  background: var(--White, #fff);
  padding: 0.2rem 0.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.fb_tag_match {
  color: #505050;
  text-transform: capitalize;
}

.fb_new_tags {
  justify-content: start;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* fb tags section ends */

/* join section css  */

.fb_join_section {
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: #fe5c4d;
  border-radius: 0.625rem;
  margin-right: 6.25rem;
  margin-left: 6.25rem;
}

.box_1 {
  background: #dfdfdf;
  height: 1rem;
  width: 87%;
  margin: 0 auto;
}
.box_2 {
  background: #eaeaea;
  height: 1rem;
  width: 92%;
  margin: 0 auto;
}
.box_3 {
  background-color: #fff;
  width: 97%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fb_box_img img {
  margin-top: 1rem;
  height: 5rem;
  width: 5rem;
}

.fb_join_txt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fb_join_txt span:nth-child(1) {
  color: #272221;
  font-family: DM Sans;
  font-size: 2.6rem;
  font-weight: 700;
  text-align: center;
}
.fb_join_txt span:nth-child(2) {
  color: #222;
  font-family: DM Sans;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.2rem;
}

.mobile_try_btn button {
  border-radius: 0.3125rem;
  background: #fe5c4d;
  padding: 0.6rem 0.9rem;
  color: #fff;
  outline: none;
  border: none;
  font-family: DM Sans;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.fb_search_field .fb_search_btn {
  border-radius: 0 5px 5px 0;
  background-color: #fe5c4d;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.fb_search_btn img {
  width: 15px;
  height: auto;
}

.fb_search_field .fb_search_btn {
  border-radius: 0 5px 5px 0;
  padding: 10px 15px;
  background-color: #fe5c4d;
  border: none;
}

.tour_subscribe {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

/* join now box css ends */

/* footer css starts  */

.fb_footer{
  margin-left: 6.25rem;
  margin-right: 6.25rem;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.fb_footer_first{
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  width: 25%;
}

.fb_footer_first span, .fb_footer_first img{
  margin-bottom: 2rem;
  color: #505050;
  
}


.fb_insta{
  margin-right: 0.5rem;
}

.fb_footer_two span{
  font-size: 1.125rem;
font-weight: 700;
text-transform: uppercase;
}

.fb_links ul{
  list-style: none;
  margin-top: 1.5rem;
  margin-left: -2rem;
}

.fb_links ul li{
  margin-bottom: 1.2rem;
  color: #505050;
  cursor: pointer;
  font-size: 0.875rem;
  
}

.fb_links ul li a{
  color: #505050;
}

.fb_links ul li a:hover{
  color: #fe5c4d;
  transition: all 0.5s ease-in-out;
}

.fb_footer_add{
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.fb_footer_add{
  margin-top: 1.5rem;
}

.fb_footer_add span{
  color: #505050;
font-family: DM Sans;
font-size: 0.875rem;
font-weight: 500;
line-height: 1.5625rem;
letter-spacing: -0.02563rem;
text-transform: capitalize;
}

.fb_mail{
  font-weight: 600;
  text-transform: lowercase;
  font-size: 0.875rem;
  cursor: pointer;
}

.fb_mail:hover{
  color:#fe5c4d;
  transition: all 0.5s ease-in-out;
}

.fb_mail_flex{
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 2rem;
}

.fb_mail_flex img{
  margin-right: 0.5rem;
}

/* footer css ends */

/* media query section  */

@media only screen and (max-width: 1220px) {
  .city_div {
    width: 51rem;
    overflow: auto;
  }

  .city_list_div ul {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media only screen and (max-width: 1135px) {
  .fb_search_field {
    width: 36rem;
  }
}
@media only screen and (max-width: 1045px) {
  .city_div {
    width: 41rem;
    overflow: auto;
  }

  .city_list_div ul {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 980px) {
  .fb_search_field {
    width: 30rem;
  }
}

@media only screen and (max-width: 875px) {
  .fb_search_field {
    width: 25rem;
  }

  .city_div {
    width: 31rem;
  }

  .city_list_div ul {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 800px) {
  .fb_search_field {
    width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 720px) {
  .city_div {
    width: 21rem;
  }

  .city_list_div ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* media query section ends */
